GF_AUTH_ANONYMOUS_ENABLED=false
# Two cores, one browser: more connections only queue deeper in Grafana.
GF_DATAPROXY_MAX_CONNS_PER_HOST=2
{% if monitoring_service_grafana_admin_password %}
GF_SECURITY_ADMIN_PASSWORD={{ monitoring_service_grafana_admin_password }}
{% endif %}
