NTFY_AUTH_FILE=/var/lib/ntfy/user.db
NTFY_AUTH_DEFAULT_ACCESS=deny-all
NTFY_AUTH_USERS={{ monitoring_service_ntfy_user }}:{{ monitoring_service_ntfy_password | password_hash('bcrypt', salt=(monitoring_service_ntfy_password | hash('sha256'))[:22], ident='2b') }}:user
NTFY_AUTH_ACCESS={{ monitoring_service_ntfy_user }}:alerts:rw
NTFY_AUTH_TOKENS={{ monitoring_service_ntfy_user }}:{{ monitoring_service_ntfy_token }}:alertmanager
