[Container]
Image={{ monitoring_service_alertmanager_image }}
ContainerName=monitoring-alertmanager
Volume=./configs/alertmanager.yaml:/etc/alertmanager/alertmanager.yml:ro,Z
Volume=alertmanager-data:/alertmanager:Z
{% if monitoring_service_alert_webhook_token | length > 0 %}
Secret=monitoring_service_alert_webhook_token
{% endif %}
HealthCmd=wget -qO /dev/null http://127.0.0.1:9093/-/healthy
HealthInterval=60s
HealthStartPeriod=30s
HealthOnFailure=kill
