[Container]
Image=docker.io/grafana/loki:3
ContainerName=monitoring-loki
Volume=./configs/loki.yaml:/etc/loki/local-config.yaml:Z
Volume=loki-data:/loki:Z
AutoUpdate=registry
Pod=monitoring.pod
RestartPolicy=on-failure

[Install]
WantedBy=default.target
