[Container]
Image=docker.io/grafana/promtail:3
ContainerName=monitoring-promtail
Volume=./configs/promtail.yaml:/etc/promtail/promtail.yaml:ro
PodmanArgs=--volume=/var/log/journal/:/var/log/journal/:ro \
           --volume=/run/log/journal/:/run/log/journal/:ro \
           --volume=/etc/machine-id:/etc/machine-id:ro \
           --volume=nc-app-logs:/var/log/nextcloud:ro
AutoUpdate=registry
Pod=monitoring.pod
RestartPolicy=on-failure
Entrypoint=
Command=-config.expand-env=true -config.file=/etc/promtail/promtail.yaml

[Install]
WantedBy=default.target
