[Container]
Image={{ monitoring_service_blackbox_image }}
ContainerName=monitoring-blackbox
Volume=./configs/blackbox.yaml:/etc/blackbox_exporter/config.yml:Z
PodmanArgs={{ monitoring_service_blackbox_extra_args }}
HealthCmd=wget -qO /dev/null http://127.0.0.1:9115/-/healthy
HealthInterval=60s
HealthStartPeriod=30s
HealthOnFailure=kill
Pod=monitoring.pod
