[Container]
Image={{ monitoring_service_grafana_image }}
ContainerName=monitoring-grafana
Environment=GF_DATAPROXY_MAX_CONNS_PER_HOST={{ monitoring_service_grafana_max_conns }}
Volume=./configs/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml:Z
Volume=./configs/grafana-dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml:Z
Volume=./configs/dashboards/:/etc/grafana/provisioning/dashboards/node-exporter/:Z
Volume=grafana-data:/var/lib/grafana:Z
PodmanArgs={{ monitoring_service_grafana_extra_args }}
AutoUpdate={{ monitoring_service_auto_update }}
HealthCmd=wget -qO /dev/null http://127.0.0.1:3000/api/health
HealthInterval=60s
HealthStartPeriod=60s
HealthOnFailure=kill
Pod=monitoring.pod

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
