[Container]
Image={{ monitoring_service_grafana_image }}
ContainerName=monitoring-grafana
# Two cores, one browser: more connections only queue deeper in Grafana.
EnvironmentFile=./configs/grafana.env
Volume=./configs/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml:Z
Volume=./configs/grafana-dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml:Z
Volume=./configs/dashboards/:/etc/grafana/provisioning/dashboards/home-server/:Z
Volume=grafana-data:/var/lib/grafana:Z
PodmanArgs={{ monitoring_service_grafana_extra_args }}
HealthCmd=wget -qO /dev/null http://127.0.0.1:3000/api/health
HealthInterval=60s
HealthStartPeriod=60s
HealthOnFailure=kill
Pod=monitoring.pod
