[Container]
Image=docker.io/grafana/grafana:latest
ContainerName=monitoring-grafana
Environment=GF_DATAPROXY_MAX_CONNS_PER_HOST=2
PublishPort=3000:3000/tcp
Volume=grafana-data:/var/lib/grafana:Z
AutoUpdate=registry
Pod=monitoring.pod

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSec=10s
