[Container]
Image={{ monitoring_service_node_exporter_image }}
ContainerName=monitoring-node-exporter
PodmanArgs=--volume=/proc:/host/proc:ro \
           --volume=/sys:/host/sys:ro \
           --volume=/:/rootfs:ro
AutoUpdate={{ monitoring_service_auto_update }}
Pod=monitoring.pod

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSec=10s
