[Container]
Image=docker.io/prom/node-exporter:latest
ContainerName=monitoring-node-exporter
PodmanArgs=--volume=/proc:/host/proc:ro \
           --volume=/sys:/host/sys:ro \
           --volume=/:/rootfs:ro
AutoUpdate=registry
Pod=monitoring.pod
RestartPolicy=on-failure

[Install]
WantedBy=default.target
