[Container]
Image={{ monitoring_service_alertmanager_image }}
ContainerName=monitoring-alertmanager
Volume=./configs/alertmanager.yaml:/etc/alertmanager/alertmanager.yml:Z
Volume=alertmanager-data:/alertmanager:Z
PodmanArgs={{ monitoring_service_alertmanager_extra_args }}
HealthCmd=wget -qO /dev/null http://127.0.0.1:9093/-/healthy
HealthInterval=60s
HealthStartPeriod=30s
HealthOnFailure=kill
Pod=monitoring.pod
