[Container]
Image=docker.io/prom/prometheus:latest
ContainerName=monitoring-prometheus
Volume=./configs/prometheus.yaml:/etc/prometheus/prometheus.yaml:Z
Volume=prometheus-data:/prometheus:Z
AutoUpdate=registry
Pod=monitoring.pod
RestartPolicy=on-failure

[Install]
WantedBy=default.target
