[Container]
Image={{ monitoring_service_loki_image }}
ContainerName=monitoring-loki
Volume=./configs/loki.yaml:/etc/loki/local-config.yaml:Z
Volume=loki-data:/loki:Z
AutoUpdate={{ monitoring_service_auto_update }}
Pod=monitoring.pod

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSec=10s
