[Container]
Image={{ monitoring_service_prometheus_image }}
ContainerName=monitoring-prometheus
Volume=./configs/prometheus.yaml:/etc/prometheus/prometheus.yaml:Z
Volume=./configs/prometheus-rules.yaml:/etc/prometheus/prometheus-rules.yaml:Z
Volume=prometheus-data:/prometheus:Z
AutoUpdate={{ monitoring_service_auto_update }}
Pod=monitoring.pod

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSec=10s
